.h1 {
    text-align: center 
}

.description {
    width: 500px;
    text-align: center;
    margin: auto;
}

.link {
    font-size: 25px;
    position: abosu;
    top: 250px;
}

.kanye {
    position: relative;
    left: -100px;
    top: 200px;
}