.h1 {
    text-align: center 
}

.description {
    width: 500px;
    text-align: center;
    margin: auto;
    color: blueviolet;
    font-size: 20px;
}

.link {
    font-size: 25px;
}

.kanye {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    
  }