.h1 {
    text-align: center 
}

.description {
    width: 500px;
    text-align: center;
    margin: auto;
}

.link {
    font-size: 25px;
}

.kanye {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}